@use "../util" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(36);

  @include breakpoint(mediun) {
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;

    @include breakpoint(mediun) {
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--dark-text1);
  }
}
